<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDANQjeyLFeasIFlp7IlP5gf-yalJPJQSU</string>
	<key>GCM_SENDER_ID</key>
	<string>233826818679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bootcampIOS.JaChegou</string>
	<key>PROJECT_ID</key>
	<string>jachegou-d242c</string>
	<key>STORAGE_BUCKET</key>
	<string>jachegou-d242c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233826818679:ios:942e8f63c6998c2a1bc472</string>
</dict>
</plist>