<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1l-1K5km7d3VUOBcvrpDPVOT0MsJ41qc</string>
	<key>GCM_SENDER_ID</key>
	<string>748818022223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bootcampIOS.JaChegou</string>
	<key>PROJECT_ID</key>
	<string>tccjachegou</string>
	<key>STORAGE_BUCKET</key>
	<string>tccjachegou.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748818022223:ios:8bc0ecf544b05495328f3a</string>
</dict>
</plist>